@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <style>
            .nav-link {
                color: black;
            }

            body {
                background: rgba(0, 0, 0, 0.30);
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('https://lh3.googleusercontent.com/u/0/drive-viewer/AFGJ81oPdNSqoM06naTbKQxCwUhihA3hB0YtZhEhMgCWmygCs-MaAKUFOTvnHPcPn6En-F2Sb0FvC1NLphw5Q_W5CW2wZjuEUg=w1920-h941');
            }

        </style>
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}