@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <style>
            .nav-link{
                color:black;
            }
            body {
                background: rgba(0, 0, 0, 0.30);
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('https://lh3.googleusercontent.com/u/0/drive-viewer/AFGJ81oPdNSqoM06naTbKQxCwUhihA3hB0YtZhEhMgCWmygCs-MaAKUFOTvnHPcPn6En-F2Sb0FvC1NLphw5Q_W5CW2wZjuEUg=w1920-h941');
            }

        </style>

            <div class="container">
                
                        <h1>Nick Joe</h1>
                        <p>Age: 30</p>
                        <p>Location: New York</p>
                        <p>Occupation: Web Developer</p>
                    
            </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
